/*Estilos da pagina index.html*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: rgb(238, 235, 201);
    font-family: 'Poppins', sans-serif;
  }

.menu ul{
    background-color: rgb(255, 205, 106);
    list-style: none;
    display: flex;
    padding: 10px;
    margin-top: -5px;
    
}

.menu a {
    text-decoration: none;
    color: rgb(136, 78, 7);
    margin-left: 30px;
    transition: all ease-in-out .3s;
    list-style: none;
}

.menu a:hover {
    transform: scale(1.90);
    color: rgb(236, 103, 38);
}

.logo {
    display: flex;
    padding: 10px;
    
}

.logo img{
    margin-left: 0%;

}

.logo h1{
    margin-left: 1%;
    margin-top: 3%;
    color: rgb(137, 79, 13);
    font-size: 60px;
}

.titulo {
    text-align: center;
}

header {
    margin-left: 25%;
}

.imagens img {
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.imagens img:hover {
    transform: scale(1.05);

}
#principal {
    display: flex;
}
/*Estilos da pagina massa.html*/
