<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas da Terê</title>
</head>
<body>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="massa.html">Massas</a></li>
    </ul>

    <h1 style="color:rgb(116, 11, 11);">Cozinha Criativa: Receitas Incríveis para Você Experimentar</h1>

    <h3>A culinária é uma arte que nos cativa com seus sabores, texturas e aromas, transcendendo fronteiras e culturas. Ela nos convida a explorar o mundo, criar memórias e compartilhar momentos especiais em torno da mesa. Junte-se a essa jornada gastronômica e descubra sua magia.</h3>

    <img src="../assets/img/almaCulinaria.png" alt="alma Culinaria">
</body>
</html>