<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Massas</title>
</head>
<body>
    <header>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="massa.html">Massas</a></li>
            </ul>
    </header>

    <h1 style="color:rgb(213, 115, 115);">Lasanha de Carne Moida</h1>
    <br>
    <h3>A receita de lasanha de carne moída é um prato clássico, muito amado e muito fácil de preparar. Também conhecida como lasanha à bolonhesa, pela sua origem em Bolonha, na Itália, essa receita conquistou o mundo! Confira como fazer!</h3>


    <h2 style="color:rgb(116, 11, 11);">Ingredientes (15 porções)</h2>
    <ul>                                                     
        <li>500 g de massa de lasanha</li>            
        <li>500 g de carne moída</li>
        <li>2 caixas de creme de leite</li>
        <li>3 colheres de manteiga</li>
        <li>3 colheres de farinha de trigo</li>
        <li>500 g de presunto</li>
        <li>500 g de mussarela</li>
        <li>sal a gosto</li>
        <li>2 copos de leite</li>
        <li>1 cebola ralada</li>
        <li>3 colheres de óleo</li>
        <li>1 caixa de molho de tomate</li>
        <li>3 dentes de alho amassados</li>
        <li>1 pacote de queijo ralado</li>
    </ul>

    <h2 style="color:rgb(116, 11, 11);">Modo de Preparo</h2>

    <ol>
        <li style="color:rgb(116, 11, 11);"><h4>Lasanha</h4></li>
        <p>Cozinhe a massa segundo as orientações do fabricante, despeje em um refratário com água gelada para não grudar e reserve.</p>

        <li style="color:rgb(116, 11, 11);"><h4>Molho à bolonhesa</h4></li>
        <p>Refogue o alho, a cebola, a carne moída, o molho de tomate, deixe cozinhar por 3 minutos e reserve.</p>

        <li style="color:rgb(116, 11, 11);"><h4>Molho branco</h4></li>
        <p>Derreta a margarina, coloque as 3 colheres de farinha de trigo e mexa.</p>
        <p>Despeje o leite aos poucos e continue mexendo.</p>
        <p>Por último, coloque o creme de leite, mexa por 1 minuto e desligue o fogo.</p>

        <li style="color:rgb(116, 11, 11);"><h4>Montagem</h4></li>
        <p>Despeje uma parte do molho à bolonhesa em um refratário, a metade da massa, a metade do presunto, a metade da mussarela, todo o molho branco e o restante da massa.</p>
        <p>Repita as camadas até a borda do recipiente.</p>
        <p>Finalize com o queijo ralado e leve ao forno alto (220° C), preaquecido, por cerca de 20 minutos.</p>
    </ol>
</body>
</html>